.navbar {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  color: #fff;
  padding: 3rem 2rem;
  box-sizing: border-box;
  z-index: 9;
}
.navbarLogo {
  width: 5rem;
  align-items: center;
}
.navItems {
  position: relative;
}
.navItems ul li {
  display: inline-block;
  padding: 0 1.5rem;
  font-size: 1rem;
  font-family: 'Barlow', sans-serif;
  cursor: pointer;
}

.contact {
  background-color: rgba(112, 206, 255, 0.9);
  border-radius: 10px;
  padding: 0.85rem !important;
  text-transform: uppercase;
  font-family: 'Fraunces', serif !important;
}

.contact:hover {
  background-color: #fff;
  color: #000;
}

.burgerMenu {
  display: none;
}

/* for small devices */
@media (max-width: 565px) {
  
}

/* for medium devices */
@media (max-width: 991px) {
  .navbar {
    position: absolute;
  }
  .navItems {
    width: 100%;
    position: relative;
    margin-top: 25rem;
    background: #fff;
    padding: 2rem 5rem;
    margin-left: -3.5rem;
  }
  .navItems ul li {
    color: #7c7b89;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
  }
  .contact {
    background-color: #fbd601;
    color: #000 !important;
    margin-top: 1rem;
    border-radius: 30px;
  }
  .contact:hover {
    background-color: rgba(112, 206, 255, 0.9);
  }
  .burgerMenu {
    display: block;
  }
}