.testimonial {
  width: 33%;
  text-align: center;
}

.testimonial img,
.testimonial .testimonialBio {
  margin-bottom: 3rem;
}

.testimonialPhoto {
  width: 4rem;
  border-radius: 50%;
}

.testimonialBio {
  font-family: 'Barlow', sans-serif;
  color: #616264;
  font-weight: 500;
  line-height: 1.6rem;
}

.testimonialName {
  font-weight: 700;
  margin-bottom: 1rem;
}

.testimonialTitle {
  font-family: 'Barlow', sans-serif;
  color: #adabac;
  font-weight: 400;
}

/* for small devices */
@media (max-width: 565px) {
  .testimonial {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 4rem;
  }
}

/* for medium devices */
@media (min-width: 566px) and (max-width: 991px) {
  .testimonial {
    width: 33%;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 4rem;
  }
}
