@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Fraunces', serif;
}

body {
  overflow-x: hidden;
}

.fullBannerPhoto {
  display: flex;
  height: auto;
}

/* for medium devices */
@media(max-width: 991px) {
  .fullBannerPhoto {
    flex-direction: row;
    flex-wrap: wrap;
  position: relative;

  } 
}