.photoCard {
  width: 50%;
  height: 35rem;
  background-repeat: no-repeat;
  padding: 0 10rem;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* for small devices */
@media (max-width: 565px) {
  .photoCard {
    width: 100%;
    height: 20rem;
    box-sizing: border-box;
  }

}

/* for medium devices */
@media (min-width: 566px) and (max-width: 991px) {
  .photoCard {
    width: 50%;
    box-sizing: border-box;
  }
}